  <div class='app-home'> 
      <header class="header">
          <h1>Overview</h1>
      </header>
 
      <p>
      “A design system is a collection of reusable components, guided by clear standards, that can be assembled together to build any number of applications.”
      </p>
      <p>Design systems are a crucial part of product development and their benefits are easy to see — they help designers and developers focus on solving problems without worrying about UI details, prevent design and technical debt, safeguard accessibility standards and facilitate a more efficient product development process.</p>
     
     <br/> 
      <h2>Principles of Design Systems: </h2>
      <p>There are three main principles of design system.</p>
      <div class="doc con">
         <p><strong>Efficiency:</strong> Instead of repeatedly building similar components from scratch, Design Systems enable designers & developers to reuse components and thereby increase efficiency.</p>
      <p><strong>Consistency:</strong> Design Systems introduce a shared set of principles and rules to build components. It becomes much easier to create consistent experiences across different platforms.</p>
      <p><strong>Scale:</strong> Increased efficiency and consistency lead a company to build faster products at scale.</p> 
      </div>
    </div> 