<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Neu Modal Component</title>

  <script type="module" src="/build/modal-component.esm.js"></script>
  <script nomodule src="/build/modal-component.js"></script>

  <script type="text/javascript">
    function openModalHandiler() {
        var neuModal = document.querySelector('#myFirstModal');
        neuModal.openModal(); // this method imported by new-modal-bunle 
    }  
</script>
<style>
  neu-modal h2 { 
    margin:5px 0;
  }
  .primary{ 
    border: 1px solid #82bef6;
    padding: 9px 22px;
    font-size: 13px;
    margin-left:8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none; 
    background: #1398ed;
    color:#fff;
  }
</style>
</head>
<body>

  <neu-modal id="myFirstModal" size="md" showcancel="true" showcancelicon="true" footer="true" header="true"> 
    <div slot="header">
         <h2>Your Modal Title..</h2>
    </div>  
    <div slot="body">
          <h3>Content Heading</h3>
          <p>Adipisicing labore elit, seed do eiusmod tempor !!!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, seed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div> 
    <span slot="footer">
          <button class="primary">Save</button> 
    </span>  
  </neu-modal> 
  <button onClick="openModalHandiler()"> Open Modal </button> 
 
</body>
</html>
