.neu-alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #0000;
    border-radius: .25rem;
    opacity: 0;
    z-index: -1;
}
.neu-alert.hide {
    opacity: 0;
    z-index: -1;
}
.neu-alert.show {
    opacity: 1;
    z-index: 0;
}
.neu-alert.fade {
    transition: opacity .3s linear;
}
.neu-alert.primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.neu-alert.secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.neu-alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.neu-alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.neu-alert.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.neu-alert.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.neu-alert.light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.neu-alert.dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
.neuBtn {
    color: #333;
    background-color: #fff;
    border: 1px solid #82bef6;
    padding: 9px 22px;
    font-size: 13px;
    margin-left:8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
}
.close{ 
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0; 
    position: absolute;
    top: 0px;
    right: 0;
    border: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}