 
        <div class="sidenav__close-icon">
          <i class="fas fa-times sidenav__brand-close"></i>
        </div> 
        <ul class="sidenav__list first">
          <li class="subTitle"><b>Getting Started</b></li>
           <li class="sidenav__list-item"><a routerLink="/overview" routerLinkActive="active">Overview</a></li>
           <li class="sidenav__list-item"><a routerLink="/why-design-system" routerLinkActive="active">Why Design System</a></li>  
        </ul>
        <ul class="sidenav__list">
              <li class="subTitle"><b>Components</b></li> 
               <li class="sidenav__list-item"><a routerLink="/modal" routerLinkActive="active">Modal</a></li>  
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Accordion </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Alert </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Buttons </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Badges </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Breadcrumbs </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Cards </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Carousel </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Checkbox </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Checkbox Button </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Checkbox Button Group </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Combobox </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Forms Element </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Icons </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Input </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Menus </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Notifications </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Panels </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Popovers </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Progress Bar </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Promot </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Radio Button Group </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Radio Group </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Slider </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Spinners </a></li>
               <li class="sidenav__list-item"> <a routerLink="/modal">
               Tabs </a></li>
               <li class="sidenav__list-item">  
               Tooltips  </li>
    
           
        </ul> 
     
      