<div class='app-home'>
    <header class="header">
        <h1>Why Design System?</h1>
    </header>

    <p>The need for Design Systems goes hand in hand with the need for scale, efficiency, and consistency in Design.
    </p>
    <p>Imagine that your company has a product that it has been building for a long time. It’s likely that the many
        teams working on different parts of the product will create inconsistencies in the product over time.</p>
    <p>These can be the result of misunderstandings due to lack of clear direction. It usually happens as a result of
        unaligned teams or individuals. Additionally, the development of a product across different platforms (i.e. web,
        mobile or tablet) can further increase those inconsistencies, resulting in a disconnected user experience. Ouch.
    </p>
    <p><strong>Design Systems aim to solve this by bringing order to chaos.</strong></p>
    <p>They help teams by giving them a more structured and guided way to build solutions for their product problems.
    </p>
    <br />
    <h2>Benefits: </h2>
    <p>Design Systems had benefits in common.</p>
    <div class="doc con">
        <p> <strong>Alignment</strong>: A Design System that responds to the needs of all platforms drives product
            alignment. Companies make sure their product is consistent on iOS, Android and web.</p>
        <p> <strong>Speed</strong>: Design Systems provide a shared library of reusable components and guidelines.
            Building products becomes much faster.</p>
        <p>
            <strong> Gaining time</strong>: As building products becomes faster, designers gain time they can invest in
            other areas. Companies invest more in understanding users and their needs.
            There’s more space for exploration because designers are no longer reinventing the wheel.
        </p>
    </div>
    <p><br/></p>
</div>